# Data Exploration

## Check for data

In [1]:
!bash get-data.sh

bash: get-data.sh: No such file or directory

## Load data for exploration

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv("../data/train.csv")

In [4]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
train.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [6]:
train.shape

(7613, 5)

## Split into X and y

In [7]:
train_X = train[['id', 'keyword', 'location', 'text']]
train_X.head()

   id keyword location                                               text
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

In [8]:
train_y = train[['target']]
train_y.head()

   target
0       1
1       1
2       1
3       1
4       1